{{!--As we mentioned before the "if" will check if there are items on the database--}}
{{# if this.products }}
<div class="row">
    <div class="col-sm-6 col-md-6 col-md-offset-3 col-sm-offset-3">
        <ul class="list-group">
            {{!--It will loop by each item added--}}
            {{#each products}}
            <li class="list-group-item"><span class="badge" style="font-size: large">{{this.qty}}</span>
                <span style="font-weight: bold; font-size: x-large;">{{this.item.title}}</span>
                <span class="label label-success" style="font-size: large;">€{{this.price}}</span>
            </li>
            <li class="list-group-item">
                <a href="/remove/{{this.item._id}}" class="btn btn-info" role="button"><strong
                        style="color: black;">REMOVE ALL</strong></a>
                <a href="/reduce/{{this.item._id}}" class="btn btn-info" role="button"><strong style="color: white;"><i
                            class="fa fa-minus" aria-hidden="true" style="color: black"></i></strong></a>
                <a href="/increase/{{this.item._id}}" class="btn btn-info" role="button"><strong
                        style="color: white;"><i class="fa fa-plus" aria-hidden="true"
                            style="color: black;"></i></strong>
                </a>
            </li>
            {{/each}}
        </ul>
    </div>
</div>
<div class="row">
    <div class="col-sm-6 col-md-4 col-md-offset-4 col-sm-offset-3">
        <h2 class="section-header">Total: € {{totalPrice}}</h2>
    </div>
</div>
<hr style="width:100%;margin-left:0;height:2px;border-width:0;color:yellow;background-color: yellow">
<div class="row">
    <div class="col-sm-6 col-md-4 col-md-offset-4 col-sm-offset-3">
        <a href="/checkout" type="button" class="btn btn-primary btn-purchase">Checkout</a>
    </div>
</div>
{{!--Here is the other option for the "if" statement, in case there is no items in the cart yet, the next message will
be appear--}}
{{ else }}
<div class="row">
    <div class="col-sm-6 col-md-4 col-md-offset-4 col-sm-offset-3">
        <h2 style="color: white; text-align: center; ">No Items in Cart!</h2>
        <hr style="width:100%;margin-left:0;height:2px;border-width:0;color:yellow;background-color: yellow">
    </div>
</div>
{{/if}}

<style>
    .nav ul {
        margin: 0;
    }

    .nav li {
        display: inline;
    }

    .main-nav {
        text-align: center;
        font-size: 1.1em;
        font-weight: lighter;
        border-bottom: 1px solid rgba(255, 255, 255, .3)
    }

    .main-nav li {
        padding: 0 5%;
    }

    .nav a:hover {
        background-color: rgba(255, 255, 255, .3)
    }

    a:hover,
    a:active {
        color: #ffb901;
        text-decoration: none;
        outline: 0;
    }

    .container {
        max-width: 900px;
        margin: 0 auto;
        padding: 0 1.5em;
    }

    .section-header {

        font-weight: normal;
        color: white;
        text-align: center;
        font-size: 2.5em;
    }

    .btn {
        text-align: center;
        vertical-align: middle;
        padding: .67em .67em;
        cursor: pointer;
    }

    .btn-primary {
        color: white;
        background-color: #56CCF2;
        border: none;
        border-radius: .3em;
        font-weight: bold;
    }

    .btn-primary:hover {
        background-color: #2D9CDB;
    }

    .btn-purchase {
        display: block;
        margin: 40px auto 80px auto;
        font-size: 1.75em;
    }
</style>