{{!--References for this page:
//https://www.w3schools.com/bootstrap/
//https://getbootstrap.com/docs/5.0/getting-started/introduction/
--}}
<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <h1 style="color: white; text-align: center;">Profile</h1>
        <hr style="width:100%;margin-left:0;height:2px;border-width:0;color:yellow;background-color: yellow">
        <h2 style="color: white;text-align: center;">Orders</h2>
        {{!--As the previous processes, this loop will perform the same procedure, it will loop for every item will be
        in the database--}}
        {{# each orders }}
        <div class="panel panel-default" style="background-color: #C4B7B7">
            <div class="panel-body" style="background-color: #C4B7B7">
                <ul class="list-group" style="background-color: #C4B7B7">
                    {{# each this.items }}
                    <li class="list-group-item" style="background-color: #C4B7B7">
                        <span class="badge" style="background-color: #C4B7B7; color:#000000">€ {{ this.price }}</span>
                        <strong> {{ this.item.title }} || Pieces: {{ this.qty }}</strong>
                    </li>
                    {{/each}}
                </ul>
            </div>
            <div class="panel-footer" style="background-color: #C4B7B7">
                <ul class="list-group" style="background-color: #C4B7B7">
                    <li class="list-group-item" style="background-color: #C4B7B7">
                        <strong style="font-size: medium;">Total Price: €{{ this.cart.totalPrice }}</strong>
                    </li>
                    <li class="list-group-item" style="background-color: #C4B7B7">
                        <strong style="font-size: medium;">Date to be picked: {{ this.time }}</strong>
                    </li>
                </ul>
            </div>
        </div>
        {{/each}}
    </div>
</div>